
.item {
    color:white;
    padding: 0.7rem;
    background-color:gray;
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
   
}
.amt{
    padding: 10px;
    border: 2px solid white;
    border-radius: 17px;
    background-color: purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    width: 10vw;
}

.inf{
    width: 65%;
    
}
.inf h2,p{
    margin: 2px 20px;
    float: left;
    display: block;
}

@media(max-width:790px){
.inf{
   max-width:55%;
   padding: 10px;
   font-size: 1.3rem;
   overflow: hidden;
}
.item{
justify-content: left;
}
.amt{
    width: 20%;
    padding: 10px;
    font-size: 1rem;
    margin: 0px;
}
}
