.expenses-list{
    list-style: none;
    padding: 0;
    width: 90%;
  }
  
  .expenses-list_fallback{
    color: white;
    text-align: center;
  }
  .btn{
    padding: 10px;
    border-radius: 10px;
    color: red;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .line{
    color: red;
}