.new-expense_controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    
  }
  
  .new-expense_control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  .new-expense_control.invalid label {
    color: red;
    
  }
  
  .new-expense_control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  .new-expense_control.invalid input {
   border-color: red;
   font-size: 1.2rem;
  }
  
  .new-expense_actions {
    text-align: right;
  }

  @media(max-width:790px){
    form{
     width: 90vw;
      margin: 0px;
      padding: 0px;
    }
    .new-expense_controls {
      flex-direction: column;
      align-items: center;
    }
  }